APP_TOKEN=yourapptoken


#POSTGRES CREDS
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=nyc_inspections
POSTGRES_HOST=localhost
POSTGRES_PORT=5433



AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=yourpassword
AIRFLOW_DB_NAME=airflow